{% extends 'base.html.twig' %}

{% block title %}Modifier mon mot de passe{% endblock %}

{% block body %}
    <h2 class="titre-page">Modifier mon mot de passe</h2>
    {% for message in app.flashes('errorPassword') %}
    <div class="alert alert-error alert-dismissible fade show" role="alert">
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}
    <form method="post">
        <label for="inputPassword5" class="form-label">Nouveau mot de passe</label>
        <input type="password" id="inputPassword5" name="inputPassword5" class="form-control" aria-describedby="passwordHelpBlock">
        <label for="inputPassword52" class="form-label">Confirmer nouveau mot de passe</label>
        <input type="password" id="inputPassword52" name="inputPassword52" class="form-control" aria-describedby="passwordHelpBlock">
        <button type="submit" class="btn btn-primary">Valider</button>
    </form>
{% endblock %}