{% extends 'base.html.twig' %}

{% block title %}Envoyer un message{% endblock %}

{% block body %}
    <h2 class="titre-page">Envoyer un message</h2>
    <section class="container">
        <div class="row">
            <div class="col">
                {{ form(formMessage) }}
                <a class="btn btn-primary" data-bs-toggle="offcanvas" href="#offcanvasExample" role="button" aria-controls="offcanvasExample">
                    Tous les dossiers
                </a>
            </div>
        </div>
    </section>
    <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
        <div class="offcanvas-header">
            <h3 class="offcanvas-title" id="offcanvasExampleLabel">Dossiers</h3>
            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            <div class="list-group">
                <a href="{{ path('app_message') }}" class="list-group-item list-group-item-action">Accueil</a>
            </div>
            <div class="list-group">
                <a href="{{ path('app_received') }}" class="list-group-item list-group-item-action">Reçus</a>
            </div>
            <div class="list-group">
                <a href="{{ path('app_sent') }}" class="list-group-item list-group-item-action">Envoyés</a>
            </div>
        </div>
    </div>
{% endblock %}
